<mat-card>
    <mat-card-header>
    
    </mat-card-header>
    <mat-card-content> 
        <form [formGroup]="detailsForm" (ngSubmit)="submittedValues()">
          <mat-form-field appearance="outline"> 
           <input matInput type="text" name="name" autocomplete="false" formControlName="name">
           <mat-label>enter your name here</mat-label>
          </mat-form-field>

          <mat-form-field appearance="outline"> 
            <input matInput type="email" name="email" autocomplete="false" formControlName="email">
            <mat-label>enter your name here</mat-label>
           </mat-form-field>
            
           <mat-form-field appearance="outline"> 
            <input matInput type="password" name="password" autocomplete="password" formControlName="password">
            <mat-label>enter your name here</mat-label>
           </mat-form-field>
            
           <button mat-button color="basic" type="button" (click)="addnewaddress()">enter address details</button>

           <div formArrayName="address">
             <div *ngFor="let address of address().controls ; index as addIndex ">
               <div [formGroupName]="addIndex">
                <mat-form-field appearance="outline"> 
                    <input matInput type="text" name="city" autocomplete="false" formControlName="city">
                    <mat-label>enter your city here</mat-label>
                   </mat-form-field> 

                   <mat-form-field appearance="outline"> 
                    <input matInput type="text" name="country" autocomplete="false" formControlName="country">
                    <mat-label>enter your name here</mat-label>
                   </mat-form-field>
                   <button (click)="removeAddress(addIndex)">Remove</button>
               </div>
             </div>
           </div>
           <button type="submit">submit</button>
        </form>
        

    </mat-card-content>
</mat-card>



<!-- <div>
  <mat-card>
    <mat-card-header>
      <mat-label class="label">Login</mat-label>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
        <div formArrayName="employees">
          <div
            *ngFor="let employee of employees().controls; let empIndex = index"
          >
            <div [formGroupName]="empIndex">
              First Name :
              <input type="text" formControlName="firstName" />
              Last Name:
              <input type="text" formControlName="lastName" />
              <button (click)="removeEmployee(empIndex)">Remove</button>
            </div>
          </div>
        </div>
        <div formArrayName="address">
          <div *ngFor="let address of address().controls; let addindex = index">
            <div [formGroupName]="addindex">
              First Name :
              <input type="text" formControlName="city" />
              Last Name:
              <input type="text" formControlName="province" />
              <button (click)="removeAddress(addindex)">Remove</button>
            </div>
          </div>
        </div>
        <p>
          <button type="submit">Submit</button>
        </p>
      </form>

      <p>
        <button type="button" (click)="addEmployee()">Add Employee</button>
      </p>
      <p>
        <button type="button" (click)="addAddress()">Add address</button>
      </p>
      {{ this.empForm.value | json }}
    </mat-card-content>
  </mat-card>
</div> -->
