.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    height: 70%;
}
.innerdiv{
    background-color: #4aadc6;
    color: white;
    width: 220px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img{
    width: 105px;
    height: 105px;
    display: block;
    border-radius: 50%;
}
.link{
    margin-top: 1rem;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 400;
}
.link:hover {
    color: rgb(255, 166, 0);
}